<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	failOnWarning="true"
    failOnDeprecation="true"
    failOnNotice="true"
	>
	<php>
		<!-- <env name="WP_TESTS_DIR" value=""/> -->
		<!-- <env name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="path/to/yoast/phpunit-polyfills"/> -->

		<env name="N8N_JWT_SECRET" value="test-secret"/>
		<env name="N8N_WEBHOOK_URL" value="http://test.com"/>
		<env name="WEB_APP_URL" value="http://test.com"/>
		<env name="WEB_APP_SECRET" value="test-token"/>
	</php>
	<testsuites>
		<testsuite name="testing">
			<directory suffix="Test.php">./tests/</directory>
			<exclude>./tests/SampleTest.php</exclude>
		</testsuite>
	</testsuites>
	<source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./node_modules</directory>
            <directory>./tests</directory>
        </exclude>
    </source>
</phpunit>
